.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(23643260deg); }
}

.search-form{
  padding-top: 5%;
}

.search-form > input{
    border-radius: 0;
    font-size: 20px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom-width: 3px;
    border-bottom-color: darkturquoise;
}

.search-form> button {
  font-size: 20px;
  background-color: darkturquoise;
  margin-left: 50px;
  padding: 15px;
  border-radius: 6px;
}
.mainContent{
  background-color: lightsteelblue;
  padding: 8%;
  margin: 5%;
  border: 1px solid black;
}
.mainContent img {
  border-radius: 50%;
  border: 2px solid black;
  width: 30%;
}
